{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "tabWidth": 2,
  "parser": "typescript",
  "endOfLine": "lf"
}
